@use '../../scss/util' as u;

@include u.component-base();

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination__next {
  margin-inline-start: auto;
}

.pagination__previous {
  margin-inline-end: auto;
}
