.Input {
  display: block;
  border-radius: var(--component-input-base-border-radius);
  border-width: var(--component-input-base-border-width);
  border-style: solid;
  border-color: var(--component-input-base-border-color);
  background: var(--component-input-base-background);
  color: var(--component-input-base-color);
  padding: 0.5em 1em;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  font-size: 1rem;

  &:not(textarea) {
    line-height: 1.1;
  }

  &:hover {
    border-color: var(--component-input-hover-border-color);
    color: var(--component-input-hover-color);
    background: var(--component-input-hover-background);
  }

  &:focus {
    border-color: var(--component-input-active-border-color);
    color: var(--component-input-active-color);
    background: var(--component-input-active-background);
    outline: none;
  }

  &:invalid:not(:active) {
    border-color: var(--color-base-error-500);
  }

  &[readonly] {
    cursor: not-allowed;
    border-style: dashed;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    filter: grayscale(100%) brightness(80%);

    &:hover,
    &:focus-visible {
      border-color: var(--component-input-base-border-color);
      background: var(--component-input-base-background);
      color: var(--component-input-base-color);
    }
  }

  &:where(textarea) {
    // TODO: Improve textarea styles
    min-height: 4rem;
  }
}
