.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: var(--component-button-base-background);
  color: var(--component-button-base-color);
  border-width: var(--component-button-base-border-width);
  border-style: solid;
  border-color: var(--component-button-base-border-color);
  padding: 0.5em 1em;
  border-radius: var(--component-button-base-border-radius);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;

  &:hover,
  &:focus-visible {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(70%);
    opacity: 0.8;
  }
}

.button--primary {
  composes: button;
  background-color: var(--color-base-primary-500);
  color: var(--color-base-light-main);
  &:hover,
  &:focus-visible {
    background-color: var(--color-base-primary-600);
  }
}

.button--secondary {
  composes: button;
  background-color: var(--color-base-secondary-500);
  color: var(--color-base-light-main);
  &:hover,
  &:focus-visible {
    background-color: var(--color-base-secondary-600);
  }
}

.button--tertiary {
  composes: button;
  background-color: var(--color-base-tertiary-500);
  color: var(--color-base-light-main);
  &:hover,
  &:focus-visible {
    background-color: var(--color-base-tertiary-600);
  }
}

.button--outline {
  composes: button;
  background-color: transparent;
  color: inherit;
  border-color: initial;
  &:hover,
  &:focus-visible {
    background-color: var(--color-base-primary-500);
  }
}

.button--destructive {
  composes: button;
  background-color: var(--color-base-error-500);
  color: var(--color-base-light-main);
  &:hover,
  &:focus-visible {
    background-color: var(--color-base-error-600);
  }
}

.button--inline {
  composes: button;
  background-color: transparent;
  color: inherit;
  &:hover,
  &:focus-visible {
    // TODO: Not sure about hover styles 🤔
  }
}
