@use '../../scss/util' as u;

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: var(--component-button-base-background);
  color: var(--component-button-base-color);
  border-width: var(--component-button-base-border-width);
  border-style: solid;
  border-color: var(--component-button-base-border-color);
  padding: 0.5em 1em;
  border-radius: var(--component-button-base-border-radius);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  outline: 1px solid transparent;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s, outline 0.2s;
  @include u.focus-ring();

  &:hover,
  &:focus-visible {
    color: var(--component-button-active-color);
    background: var(--component-button-active-background);
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(70%);
    opacity: 0.8;
  }
}
