@use '../../scss/util' as u;

$border-width: 2px;

.Tabs {
  display: block;
}

.Tabs__list {
  overflow: auto;

  @include u.custom-scrollbar(0.5rem);
}

.Tabs__list__inner {
  position: relative;
  display: flex;
  [data-orientation='horizontal'] & {
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    min-width: 100%;
  }

  // Kind of a bottom border but prevents overflow issues.
  background-image: linear-gradient(
    var(--color-base-primary-100),
    var(--color-base-primary-100)
  );
  background-size: auto $border-width;
  background-position: bottom;
  background-repeat: repeat-x;
}

.Tabs__trigger {
  border: none;
  border-block-end: $border-width solid transparent;
  outline-color: var(--color-base-primary-500);
  opacity: 0.7;
  white-space: nowrap;
  transition: opacity 0.2s, border-color 0.2s;
  @media (min-width: 40em) {
    padding-inline: var(--size-space-unit, 1rem);
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
    border-color: var(--color-base-primary-200);
  }

  &[aria-selected='true'] {
    border-color: var(--color-base-primary-500);
    z-index: 1;
    position: relative;
    opacity: 1;
  }
}

.Tabs__content {
  margin-block-start: var(--size-space-unit, 1rem);
  outline-color: var(--color-base-primary-500);
  outline-offset: var(--size-space-unit, 1rem);
}
