/* Inlined component-base mixin */
*,
*::before,
*::after {
	box-sizing: border-box;
}

:host {
	display: block;
	--button-base: var(--g-theme-button-primary-color-background-default);
	--button-border-radius-start: var(--g-theme-border-radius-md);
	--button-border-radius-end: var(--g-theme-border-radius-md);
	--button-background:  var(--button-base);
	--button-border: var(--button-background);
	--button-color: var(--g-theme-button-primary-color-content-default);
	--button-background-hover: color-mix(in oklab, var(--button-background), var(--g-color-neutral-white) 20%);
	--button-border-hover: color-mix(in oklab, var(--button-border), var(--g-color-neutral-white) 20%);
	--button-color-hover: color-mix(in oklab, var(--button-color), var(--g-color-neutral-white) 20%);
	--button-background-active: color-mix(in oklab, var(--button-background-hover), var(--g-color-neutral-white) 10%);
	--button-border-active: color-mix(in oklab, var(--button-border-hover), var(--g-color-neutral-white) 10%);
	--button-color-active: color-mix(in oklab, var(--button-color-hover), var(--g-color-neutral-white) 10%);
}

.button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: var(--g-theme-spacing-sm);
	background: var(--button-background);
	color: var(--button-color);
	border-width: var(--g-theme-border-width-md);
	border-style: solid;
	border-color: var(--button-border);
	padding-block: var(--g-theme-spacing-sm);
	padding-inline: var(--g-theme-spacing-md);
	border-start-start-radius: var(--button-border-radius-start);
	border-start-end-radius: var(--button-border-radius-end);
	border-end-start-radius: var(--button-border-radius-start);
	border-end-end-radius: var(--button-border-radius-end);
	font: var(--g-theme-typography-label-default);
	text-decoration: none;
	text-align: center;
	transition-property: color, border-color, background-color, outline;
}

.button:hover,
.button:focus-visible {
	color: var(--button-color-hover);
	background: var(--button-background-hover);
	border-color: var(--button-border-hover);
	cursor: pointer;
	text-decoration: none;
}

.button:active {
    color: var(--button-color-active);
	background: var(--button-background-active);
	border-color: var(--button-border-active);
}

.button:active {
	transform: translateY(1px);
}

.button[disabled] {
	cursor: not-allowed;
	filter: grayscale(70%);
	opacity: 0.8;
}

/* Color variants */
:host([color=secondary]) {
	--button-base: var(--g-color-secondary-500);
    --button-color: var(--g-color-neutral-white);
}
:host([color=neutral]) {
	--button-base: var(--g-color-neutral-500);
    --button-color: var(--g-color-neutral-white);
}
:host([color=danger]) {
	--button-base: var(--g-color-utility-red-500);
	--button-color: var(--g-color-neutral-white);
}

/* Style variants */
:host([variant=outline]) {
	--button-border: var(--button-base);
	--button-color: var(--button-base);
	--button-background: transparent;
	--button-background-hover: rgb(from var(--button-base) r g b / .2);
}
:host([variant=ghost]) {
    --button-color: var(--button-base);
    --button-background: transparent;
    --button-border-hover: transparent;
    --button-background-hover: rgb(from var(--button-base) r g b / .3);
}
