@use '../../scss/util' as u;

@include u.component-base();

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: var(--component-card-background);
  border-style: solid;
  border-width: var(--component-card-border-width);
  border-color: var(--component-card-border-color);
  border-radius: var(--component-card-border-radius);
  /* box-shadow: u.shadow(0); */
}

.card > img {
  display: block;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--size-space-unit, 1rem);
  padding: var(--size-space-unit, 1rem);
}

.card__content > * {
  margin: 0;
}

.card__content > *:first-child {
  margin-block-start: 0;
}

.card__content > *:last-child {
  margin-block-end: 0;
}

/* Needs the extra specificity. */
.card .card__actions {
  display: flex;
  width: 100%;
  margin-block-start: auto;
  border-radius: 0;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--component-button-base-background);
}

.card__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-space-unit);
  margin: 0;
  padding-inline: var(--size-space-unit, 1rem);
  padding-block: 1em;
  font-size: var(--font-size-small);
  background-color: var(--color-base-light-shade);
  color: var(--color-base-dark-shade);
}

.card__meta__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.3em;

  dt,
  dd {
    display: block;
    margin: 0;
    padding: 0;
  }

  dt::after {
    content: ':';
  }
}
