.icon {
  display: inline-block;
  color: inherit;
  width: 1em;
  height: 1em;
}

.icon svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.icon svg:not([fill]) {
  fill: currentColor;
}

.icon svg:not([stoke]) {
  stroke: currentColor;
}
