@use '../../scss/util' as u;

@include u.component-base();

:host {
  --height: 0.5rem;
  --inner-width: 40%;
  --starting-position: calc(0% - (var(--inner-width) * 2));
  --ending-position: calc(100% + (var(--inner-width) * 2));
}

.loading {
  display: block;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  overflow: hidden;
  padding-top: var(--height);
  background-repeat: no-repeat;
  background-color: var(--color-base-primary-500);
  background-image: linear-gradient(
    to right,
    transparent 0%,
    var(--color-base-secondary-500) 10%,
    var(--color-base-secondary-500) 90%,
    transparent 100%
  );
  background-size: var(--inner-width) 100%;
  background-position-x: var(--starting-position);
  animation: loading 2s linear infinite;
  /* This is probably a bad way of hiding the text */
  font-size: 0;
}

@keyframes loading {
  0% {
    background-position-x: var(--starting-position);
  }
  100% {
    background-position-x: var(--ending-position);
  }
}
