.Dialog {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: auto;
}

.Dialog__backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.Dialog__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--size-space-unit, 1rem);
  padding: var(--size-space-unit, 1rem);
}

.Dialog__close {
  position: absolute;
  inset-block-start: var(--size-space-unit, 1rem);
  inset-inline-end: var(--size-space-unit, 1rem);
  margin-block-start: -0.25rem;
  margin-inline-end: -0.25rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
}

.Dialog__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
