:where(.focus-ring),
:where(:enabled) {
	outline: 0px solid transparent;
	outline-offset: var(--g-theme-focus-ring-offset-default);
	transition-duration: var(--g-animation-duration-20);
	transition-property: outline-color, width;
}

:where(.focus-ring):focus-visible,
:where(:enabled):focus-visible {
	outline: var(--g-theme-focus-ring-width-default) solid
		var(--g-theme-focus-ring-color-default);
}

@media (prefers-contrast: more) {
	:where(.focus-ring):focus-visible,
	:where(:enabled):focus-visible {
		outline: var(--g-theme-focus-ring-width-default) solid
			var(--g-theme-focus-ring-color-contrast);
		box-shadow: 0 0 0
			calc(
				(
					var(--g-theme-focus-ring-width-default) +
					var(--g-theme-focus-ring-offset-default)
				) *
				1.5
			)
			var(--g-theme-focus-ring-color-contrast-shadow);
	}
}
