@use '~@grantcodes/style-dictionary/build/scss/default/style-dictionary.scss' as theme-default;
@use '~@grantcodes/style-dictionary/build/scss/todomap/style-dictionary.scss' as theme-todomap;

/* Css defaults */
@import '~sanitize.css/sanitize';
@import '~sanitize.css/forms';
@import '~sanitize.css/typography';
@import '~sanitize.css/reduce-motion';

@import '../scss/typography';
@import '../scss/elements';

// TODO: Base variables should be applied to the :root element. At the very least to get font sizing to work better.

:global .grantcodes-ui-theme {
  --grantcodes-ui-theme: 'none';
  background-color: var(--color-base-background-main);
  fill: currentColor;
}

// TODO: Would like to remove the theme if not needed and only import the used theme.
:global .grantcodes-ui-theme--default {
  --grantcodes-ui-theme: 'default';
  @include theme-default.css-variables();
}

:global .grantcodes-ui-theme--todomap {
  --grantcodes-ui-theme: 'todomap';
  @include theme-todomap.css-variables();
}

::selection {
  background-color: var(--color-base-primary-200);
}
