/* Css defaults */
@import 'sanitize.css/sanitize';
@import 'sanitize.css/forms';
@import 'sanitize.css/typography';
@import 'sanitize.css/reduce-motion';

@import '../scss/typography';
@import '../scss/elements';

// TODO: Base variables should be applied to the :root element. At the very least to get font sizing to work better.

:root {
  --grantcodes-ui-theme: 'none';
  background-color: var(--color-base-background-main);
  fill: currentColor;
  // TODO: Move this to style dictionary
  --component-focus-ring-color: rgba(106, 91, 197, 0.4);
  --component-focus-ring-width: 0.2rem;
}

::selection {
  background-color: var(--color-base-primary-200);
}

* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
