.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--component-button-base-background);
  border-radius: var(--component-button-base-border-radius);
  /* // overflow: hidden; */
  width: fit-content;
  max-width: 100%;
}
